# NextAuth config
AUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
AUTH_URL=http://localhost:3000/api/auth

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Backend API
NEXT_PUBLIC_API_URL=http://localhost:3001/api
